<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<div id="items">

</div>
<style>
    #items{
        columns: 5;
    }
    .item{
        border: 1px solid #d1d1d1;
        padding: 5px;
        margin-bottom: 10px;
        min-height: 100px;
        background: #f5f5f5;
    }
    .btnVal.active{
        background: #1d1d1d;
        color: #f7f7f7
    }

</style>
<div id="buttons_lol">
    <button id="sort" onClick="getTweets('sort')">not sorted</button>
    <button id="next"  onClick="getTweets('next')">Get More</button>
</div>



<script src="js/main.js"></script>
</body>
</html>